.customBorder {
  border: solid black 2px;
  border-radius: 1em;
  background-color: rgb(89, 108, 114);
}

.homePageButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
