.loginHeader {
  background-color: rgb(61, 74, 78);

  margin-bottom: 2em;

  display: grid;
  grid-template-columns: 3fr 1fr;

  padding: 1em;

  height: fit-content;
}

.logo {
  color: white;
  align-self: center;
}

.innerLoginHeader {
  display: flex;
  flex-direction: row;
  gap: 100px;

  align-self: center;
  justify-self: end;
}

.navLink {
  color: white;
}

.navLink:hover {
  color: lightblue;
}
