.todoBorder {
  background-color: whitesmoke;
  border: solid 2px grey;
  border-radius: 1em;
}

.contentLayout {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.textLayout {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.dateAndTime {
  display: grid;
  grid-template-columns: repeat(2, minmax(5em, 5em));
}

.date {
  font-size: 16px;
  width: 100%;
}

.time {
  font-size: 16px;
  width: 100%;
}

.buttonsLayout {
  display: grid;
  grid-template-columns: repeat(2, minmax(5em, 5em));
  grid-gap: 1em;
  justify-content: flex-end;
}

.itemCheckbox {
  /* border: 2px solid black; */
  align-self: center;
}

.itemText {
  /* border: 2px solid black; */
  align-self: center;
  margin-top: 2px;
}
