.todoBorder {
  background-color: whitesmoke;
  border: solid 2px grey;
  border-radius: 1em;
}

.contentLayout {
  display: grid;
  grid-template-columns: 1fr 30fr 1fr;
  grid-gap: 1em;
  justify-items: space-between;
}

.itemButtons {
  align-items: start;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

.itemCheckbox {
  /* border: 2px solid black; */
  align-self: center;
}

.itemText {
  /* border: 2px solid black; */
  align-self: center;
  margin-top: 2px;
}
