.formFlex {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

label {
  color: white;
}

.loginHeading {
  text-align: center;
  color: white;
}

.loginContainer {
  margin-top: 3em;
  padding: 3em;
  background-color: rgb(89, 108, 114);
  border-radius: 1em;

  border: 2px solid black;

  width: 600px;
  height: fit-content;
}

.myLink {
  color: rgb(24, 180, 231);
  width: fit-content;
}

.myLink:hover {
  cursor: pointer;
  color: blue;
}
